@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--alt-black-color);
    }

    .nav-link, .main-text {
        color: var(--main-white-color);
    }

    .beta-note {
        color: var(--main-gray-color);
    }

    .disabled-link {
        color: var(--alt-nonactive-gray);
    }

    .main-button {
        background-color: var(--alt-red-color);
    }

    .main-button:hover {
        background-color: var(--main-red-color);
    }
    
    .main-button:active {
        background-color: var(--active-red-color);
    }

    .table-category {
        color: var(--alt-red-color);
    }
    
    .first-column,
    td {
        color: var(--main-white-color);
    }

    .stats-notes {
        color: var(--alt-gray-color);
    }

    .stats-notes>.accent {
        color: var(--main-white-color);
    }

    .diff-text {
        color: var(--main-white-color);
    }

    .diff-out-ca,
    .diff-out-ss {
        color: var(--main-white-color);
    }

    .list-of {
        color: var(--main-white-color);
    }

    .main-text-area {
        color: var(--main-white-color);
        background-color: var(--alt-black-color);
        border-color: var(--main-white-color);
    }

    .search-note {
        color: var(--main-white-color);
    }

    .sources-link {
        color: var(--alt-gray-color);
    }

    .sources-link:hover {
        color: var(--inactive-gray-color);
    }
    
    .sources-link:active {
        color: var(--main-gray-color);
    }

    .project-info-button {
        background-color: var(--alt-gray-color);
    }

    .project-info-button:hover {
        background-color: var(--main-red-color);
    }

    .project-info-button:active {
        background-color: var(--active-red-color);
    }

    .project-info {
        color: var(--main-white-color);
        background-color: var(--popup-dark-color);
    }

    /* FAQ page */

    .faq-page-title {
        color: var(--main-white-color);
    }

    .title-faq {
        color: var(--alt-red-color);
    }

    .faq-text {
        color: var(--main-white-color);
    }

    /* Error pages */

    .not-found {
        color: var(--alt-red-color);
    }

    .not-found-egg {
        opacity: .6;
        color: var(--main-white-color);
    }
}
