/* Adaptive rules for tablets */

@media screen and (max-width: 880px) {
    .main-section {
        width: var(--tablet-width);
    }

    .nav {
        width: var(--tablet-width);
    }

    .footer-container {
        width: var(--tablet-width);
    }

    .first-column,
    .table-category {
        font-size: 14px;
    }
}

@media screen and (max-width: 800px) {
    .main-section {
        width: var(--mid-width);
    }

    .nav {
        width: var(--mid-width);
    }

    .footer-container {
        width: var(--mid-width);
    }
}

@media screen and (max-width: 700px) {
    .main-section {
        width: var(--small-width);
    }

    .nav {
        width: var(--small-width);
    }

    .footer-container {
        width: var(--small-width);
    }
}

/* Adaptive rules for smartphones, horizontal (iPhone 8 Plus resolution) */

@media screen and (max-width: 700px) {

    .nav-link,
    .nav-item>.main-text {
        font-size: 15px;
    }

    .nav-logo {
        width: 110px;
        height: auto;
    }

    .project-info {
        width: 494px;
        top: 44%;
    }

    /* 404 page */

    .not-found {
        margin: 14px auto 0px;
    }
}

/* Horizontal, iPhone 8 resolution */
