/* Header */
@media screen and (max-width: 820px) {
    .main-header {
        padding: 0 8px;
    }
}

@media screen and (max-width: 1000px) {
    .nav {
        width: 800px;
    }
}

/* Reduce main logo size */
@media screen and (max-width: 558px) {
    .nav-logo {
        width: 90px;
        height: auto;
    }
}

/* Statistics table */
@media screen and (max-width: 1024px) {
    .first-column {
        width: 160px;
    }
}

@media screen and (max-width: 756px) {
    .first-column {
        width: 140px;
    }
}

/* Quick search */
@media screen and (max-width: 582px) {
    .main-text-area {
        width: 488px;
    }
}

@media screen and (max-width: 1092px) {
    .main-container {
        margin-bottom: 16px;
    }
}
