@font-face {
  font-family: iosevka-regular;
  src: url("../fonts/iosevka-fixed-ss18-regular.ttf") format("truetype");
}

body {
  font-family: iosevka-regular, sans-serif;
  margin: 0px 0px 20px 0px;
  background-color: #ffffff;
}

ul {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.hidden-link {
  visibility: hidden;
}

.main-header {
  min-height: 50px;
  display: flex;
  text-align: center;
  justify-content: center;
  margin: auto 60px 0 60px;
}

.main-section {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 20px;
}

.nav {
  display: flex;
  min-width: 900px;
  padding-left: 0;
  justify-content: space-between;
  margin-bottom: 0;
}

.nav-item {
  margin: 0px;
}

.statistic {
  width: 1200px;
  height: 320px;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  border-radius: 15px;
}

.diagram {
  display: flex;
}

.update-time {
  align-self: flex-start;
}

.main-button {
  width: 92px;
  height: 36px;
  border-radius: 5px;
  background-color: #ff0000;
  border: none;
}

.main-button:hover {
  background-color: #e23030;
}

.main-button:active {
  background-color: #a22a2a;
}

.setup-form {
  display: flex;
  flex-direction: row;
}

.project-info {
  display: none;
}

.form-column {
  min-width: 360px;
  display: flex;
  flex-direction: column;
  align-items: self-start;
  gap: 10px;
}

.drop-select {
  width: 212px;
  border-radius: 5px;
  border: 2px solid black;
  background-color: #ffffff;
}

.time-select {
  width: 206px;
  border: 2px solid black;
}

.main-text-area {
  padding: 5px;
  border: 2px solid black;
  border-radius: 5px;
  font-size: small;
}

.out-column {
  min-width: 440px;
}

.project-info-button {
  position: fixed;
  width: 220px;
  height: 36px;
  bottom: 20px;
  right: 20px;
  font-size: medium;
  background-color: #ffe5e5;
}

.download-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 2px;
}

.download-group > p {
  margin: 0;
  margin-bottom: 10px;
}
