@font-face {
  font-family: iosevka-regular;
  src: url("../fonts/iosevka-fixed-ss18-regular.ttf") format("truetype");
}

body {
  font-family: iosevka-regular, sans-serif;
  margin: 0px 0px 20px 0px;
  background-color: #ffffff;
}

ul {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.hidden-link {
  visibility: hidden;
}

.main-header {
  display: flex;
  text-align: center;
  justify-content: center;
  min-height: 50px;
  margin: 0 auto 40px;
}

.main-section {
  display: flex;
  max-width: 1000px;
  flex-direction: column;
  margin: 0 auto 20px;
  align-items: center;
  text-align: center;
}

.main-container {
  display: flex;
  max-width: 1200px;
  flex-direction: column;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 900px;
  padding-left: 0;
  margin-bottom: 0;
}

.nav-item {
  margin: 0px;
}

.statistic {
  width: 1200px;
  height: 280px;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  border-radius: 15px;
}

.stats-table {
  max-width: 1000px;
  max-height: 320px;
  margin-bottom: 26px;
}

td {
  margin: 0;
  padding: 0;
}

.table-category {
  color: #ff0000;
}

tr {
  height: 22px;
}

td {
  width: 180px;
}

th {
  height: 40px;
}

.first-column {
  text-align: right;
}

.diagram {
  display: flex;
  margin-bottom: 40px;
}

.q-search {
  display: flex;
  align-items: center;
}

.list-of {
  margin-right: 8px;
}

.search-note {
  margin: 4px 0;
}

.out-section {
  justify-content: center;
}

.stats {
  align-self: flex-start;
}

.main-button {
  width: 92px;
  height: 36px;
  border-radius: 5px;
  background-color: #ff0000;
  border: none;
  color: #ffffff;
}

.main-button:hover {
  background-color: #e23030;
}

.main-button:active {
  background-color: #a22a2a;
}

.setup-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.form-column {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  gap: 10px;
}

.drop-select {
  width: 212px;
  border-radius: 5px;
  border: 2px solid black;
  background-color: #ffffff;
}

.time-select {
  width: 206px;
  border: 2px solid black;
}

.main-text-area {
  padding: 5px;
  border: 2px solid black;
  border-radius: 5px;
  font-size: medium;
}

.out-column {
  min-width: 440px;
}

.download-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 2px;
}

.download-group>p {
  margin: 0;
  margin-bottom: 10px;
}

.project-info {
  position: absolute;
  width: 394px;
  height: 280px;
  padding: 14px;
  right: 20px;
  bottom: 4px;
  text-align: left;
  border-radius: 5px;
  background-color: #ffe5e5;
}

.project-info-button {
  position: fixed;
  width: 220px;
  height: 36px;
  bottom: 20px;
  right: 20px;
  font-size: medium;
  background-color: gray;
  opacity: 0.6;
}

.sources-link {
  position: fixed;
  bottom: 20px;
  left: 20px;
  color: gray;
}

/* 404 page */
.not-found {
  margin: 60px auto 0;
  color: #e23030;
  font-size: 170px;
}

.not-found-egg {
  opacity: 0.33;
}

.beta-note {
  top: -1.8em;
}

.download-column {
  display: none;
}
