@import '../variables.css';

@font-face {
    font-family: 'body';
    src: local("iosevka"), url('/fonts/iosevka-fixed-ss18-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0 0 20px 0;
    background-color: var(--light-bg-color);
    font-family: 'body', Helvetica, Arial, sans-serif;
}

ul {
    list-style: none;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.hidden-link {
    visibility: hidden;
}

.hidden-text {
    visibility: hidden;
    text-decoration: none;
    text-indent: -9999px;
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    border: 0;
}

.main-container {
    display: flex;
    max-width: 1000px;
    flex-direction: column;
    margin: 0 auto;
}

.main-section {
    display: flex;
    max-width: 1000px;
    flex-direction: column;
    margin: 0 auto 20px;
    align-items: center;
    text-align: center;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: 700;
}
