/* Contains style for global links and buttons */

/* header */

.disabled-link {
    cursor: not-allowed;
    color: gainsboro;
    pointer-events: none;
}

.disabled-link:hover {
    color: var(--inactive-gray-color);
}

.disabled-link:visited {
    color: var(--inactive-gray-color);
}

.main-button {
    width: 92px;
    height: 36px;
    border-radius: 5px;
    background-color: var(--main-red-color);
    border: none;
    color: var(--main-white-color);
    white-space: nowrap;
    cursor: pointer;
}

.main-button:hover {
    background-color: var(--alt-red-color);
}

.main-button:active {
    background-color: var(--active-red-color);
}

.main-button-link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
