.q-search {
    display: flex;
    align-items: baseline;
    margin-bottom: 6px;
}

.form-column {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    gap: 10px;
}

.list-of {
    margin-right: 8px;
}

.main-text-area {
    box-sizing: border-box;
    width: 100%;
    padding: 6px 10px;
    margin-bottom: 6px;
    border-radius: 5px;
    border: 1px solid var(--main-gray-color);
    font-size: 16px;
    resize: none;
}

.main-text-area::selection {
    color: var(--main-black-color);
    background: var(--text-selection-color);
}

.search-note {
    width: 100%;
    margin: 4px 0;
    text-align: center;
}
