.stats-table {
    max-width: 100%;
    margin-bottom: 8px;
}

td {
    margin: 0;
    padding: 0;
    align-content: center;
}

tr {
    height: 28px;
}

.table-category {
    color: var(--main-red-color);
    font-size: 16px;
    font-weight: 500;
    text-align: left;
}

.first-column {
    font-size: 16px;
    font-weight: 500;
}

.diff-container {
    min-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.diff-text {
    margin: 0;
}

.diff-out {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.diff-out p {
    margin-top: 0;
    margin-bottom: 4px;
}

.notes-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 40px;
}

.stats-notes {
    margin: 0;
    display: flex;
    align-items: baseline;
    font-size: 16px;
    color: var(--main-gray-color);
    margin-bottom: 5px;
}

.stats-notes>.accent {
    margin-left: 5px;
    font-size: 15px;
    color: var(--main-black-color);
}
