/* FAQ page */

.faq-page-title {
    margin: 0 0 26px;
    font-size: 24px;
    font-weight: 500;
    color: var(--main-black-color);
}

.title-faq {
    font-size: 20px;
    font-weight: 400;
    color: var(--main-red-color);
}

.faq-text {
    margin: 14px 0 24px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.faq-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
}
